a {
	color: blue;
}

button {
	min-width: 29px;
	min-height: 29px;
}

body {
	margin: 0px;
	padding: 0px;
	font-size: 62.5%;
	opacity: 1 !important;
}

input.wide {
	width: 100%;
}

table {
	border-collapse: collapse;
}

tr.alt {
	background-color: #F0F0F0;
}

td, th {
	padding: 5px;
	border: 1px solid lightgray;
}

textarea.large {
	width: 100%;
	height: 200px;
}

textarea.medium{
	width: 100%;
	height: 100px;
}

textarea.small {
	width: 100%;
	height: 50px;
}

h1.ui-widget-header {
	font-size: 1.6em;
	font-weight: bold;
	margin: 0;
	padding: 10px;
}

div.ui-widget-content {
	font-size: 1.2em;
}

.rightAlign {
	text-align: right;
}

#account {
	position: absolute;
	top: 10px;
	right: 10px;
}

#themeswitcher {
	position: absolute;
	right: 10px;
	top: 40px;
}

#menu {
	position: absolute;
	top: 100px;
	left: 10px;
	width: 200px;
	padding: 0px;
	margin: 0px;
}

#menu ul.links {
	list-style: none;
	text-indent: 0;
	padding: 0;
	margin: 0;
}

#menu ul.links > li {
	padding: 0;
	margin: 0;
}

#menu ul.links > li > a {
	padding: 10px;
	margin: 0;
	display: block;
	text-decoration: none;
	text-align: left;
}

#main {
	margin: 40px 10px 10px 230px;
}

#main > div.ui-widget-content {
	padding: 10px;
}

#main > div.ui-widget-content .ui-widget-content {
	margin-bottom: 10px;
	padding: 10px;
}

#main form .doesnt {
	display: none;
}

#main form.fields .editor {
	display: none;
}

#main form button.save, #main form button.cancel {
	display: none;
}

#main .field {
	overflow: auto;
	width: 100%;
	margin-bottom: 4px;
}

#main .field > .name {
	float: left;
	width: 90px;
}

#main .field > .value {
	margin-left: 100px;
	padding-right: 10px;
}

#main .none {
	color: lightgray;
}

#main .twoColumn {
	overflow: auto;
	width: 100%;
}

#main .twoColumn > .left {
	float: left;
	width: 50%;
	padding: 0;
}

#main .twoColumn > .left > * {
	margin-right: 5px;
}

#main .twoColumn > .right {
	float: right;
	width: 50%;
	padding: 0;
}

#main .twoColumn > .right > * {
	margin-left: 5px;
}

#kanban {
}

#kanban td {
	width: 200px;
	padding: 0;
}

#kanban td > div {
	margin: 10px;
}

#kanban td > div > .ui-widget-header {
	padding: 4px;
}

#kanban td > div > .ui-widget-content {
	padding: 10px;
}