<% var tr = this.tr; %>
<li><a class="home" href="#home" title="<%= tr('Home') %>">
	<div class="icon">&nbsp;</div>
	<div class="text"><%= tr('Home') %></div>
</a></li>
<li><a class="newTicket" href="#newTicket" title="<%= tr('New ticket') %>">
	<div class="icon">&nbsp;</div>
	<div class="text"><%= tr('New ticket') %></div>
</a></li>
<li><a class="boards" href="#boards" title="<%= tr('Boards') %>">
	<div class="icon">&nbsp;</div>
	<div class="text"><%= tr('Boards') %></div>
</a></li>
<li><a class="search" href="#search" title="<%= tr('Search') %>">
	<div class="icon">&nbsp;</div>
	<div class="text"><%= tr('Search') %></div>
</a></li>
<li><a class="advanced" href="#advanced" title="<%= tr('Advanced') %>">
	<div class="icon">&nbsp;</div>
	<div class="text"><%= tr('Advanced') %></div>
</a></li>