<% var tr = this.tr; %>
<h1><%= tr('Menu') %></h1>
<div>
<ul class="links">
<li><a href="#home"><%= tr('Home') %></a></li>
<li><a href="#newTicket"><%= tr('New ticket') %></a></li>
<li><a href="#ticketSearch"><%= tr('Ticket search') %></a></li>
<li><a href="#boards"><%= tr('Boards') %></a></li>
<li><a href="#components"><%= tr('Components') %></a></li>
<li><a href="#tags"><%= tr('Tags') %></a></li>
<li><a href="#types"><%= tr('Types') %></a></li>
<li><a href="#users"><%= tr('Users') %></a></li>
<li><a href="#versions"><%= tr('Versions') %></a></li>
</ul>
</div>